<div id="songDetail">
    <ul>
        <li>
            <dl>
                <dt>Artist</dt>
                <dd>Ryan Adams</dt>
            </dl>
        </li>
        <li>
            <dl>
                <dt>Album</dt>
                <dd>Ryan Adams</dt>
            </dl>
        </li>
    </ul>
</div>
